# skip any files with delete in there name
*delete*
*ABCD_Data*
*.out
*.err
*__pycache__*
*.npy
*Simulated*
*phenotypes*
temp*
slurm*

!Example/
!Genes_n_sims/
!Simulations/*
!docs/Tutorials/Simulating_phenotypes.ipynb
